html {
    width: 100vw;
    height: 100vh;    
}

body {
    width: 100%;
    height: 100%;
    background-color: #141414;
    margin: 0;
    display: flex;
    justify-content: center;

    #root {
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: column;
    }
}